<div class="login" [formGroup]="loginForm">
    <div class="picture"></div>

    <div class="form-group loginuser">
        <label for="exampleInputEmail1">User Id</label>
        <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="userid"
        />
    </div>
    <br />
    <div class="form-group loginpassword">
        <label for="exampleInputPassword1">Password</label>
        <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            formControlName="password"
        />
    </div>
    <div class="alert alert-success w-25" *ngIf="status" role="alert">User Has been created</div>
    <div class="alert alert-danger w-25 mt-2" *ngIf="userExist" role="alert">User already exists</div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary submitbutton" (click)="submit()">Login</button> |
        <button type="submit" class="btn btn-primary submitbutton" (click)="signup()">SignUp</button>
        <button type="submit" class="btn btn-primary submitbutton" (click)="test()">SignUp</button>
    </div>
</div>
