<div class="container">
    <div style="margin-top: 100px; text-align: center">
        <h3>Our Story</h3>
    </div>
    <div class="d-flex">
        <div class="w-50" style="height: 800px">
            <div
                style="
                    width: 400px;
                    height: 500px;
                    border: 2px solid rgb(82, 197, 199);
                    margin-top: 40px;
                    margin-left: 54%;
                    box-shadow: 0 0 rgb(188, 221, 222), 10px 10px 10px 10px rgb(179, 213, 213);
                "
            >
                <img
                    src="assets/images/base1.jpg"
                    style="object-fit: cover; object-position: top; display: block; height: 100%; width: 100%"
                />
            </div>
        </div>
        <div class="w-50" style="height: 800px; margin-top: 40px">
            <div style="width: 400px; height: 500px">
                <p>Looking to make your next move safe and easy? Myrental.com is here for you!</p>
                <p>
                    We are a nationwide apartment listing service ready to help you find an apartment or house for rent
                    in the safest and easiest way possible. You can rest assured that all our listings come directly
                    from property managers, with pricing and availability updated daily. We guide you through the entire
                    rental journey - from browsing a comprehensive list of available rentals in your area, filtering
                    them according to your preferences and budget, and researching the area, to contacting properties
                    and submitting a rental application online.
                </p>
                <p>
                    On Myrental.com you can view detailed property information, such as photos, floorplans, amenities,
                    and schools in the area, without logging in to the site or submitting personal information. You may
                    contact the property, schedule a tour, and apply online right here on Myrental.com.
                </p>
            </div>
        </div>
    </div>
</div>
