<div class="container-class justify-content-center">
    <h3 style="text-align: center" class="p-3">Look for Perfect one</h3>
    <app-sort></app-sort>
    <div style="float: left" *ngFor="let house of data; let i = index" class="card-class">
        <div
            class="card card-wh card-flex"
            style="box-shadow: 0 4px 8px 0 rgb(188, 221, 222), 0 6px 20px 0 rgb(179, 213, 213)"
        >
            <div class="img-display">
                <img
                    src="assets/images/{{ house.images[0] }}.jpg"
                    style="object-fit: cover; object-position: top; display: block; height: 100%; width: 100%"
                />
            </div>
            <div class="p-3" style="overflow: hidden; width: 50%">
                <h5>${{ house.price }}</h5>
                <p>{{ house.address }}</p>
                <a routerLink="/view/{{ house.id }}">View</a>
                <div class="d-flex flex-row">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon
                    ><span class="ms-2">{{ house.type }}</span>
                </div>
                <div class="d-flex flex-row">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="beds"></mat-icon
                    ><span class="ms-2">{{ house.beds }}</span>
                </div>
                <div class="d-flex flex-row">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shower"></mat-icon
                    ><span class="ms-2">{{ house.bath }}</span>
                </div>
            </div>
            <!-- <mat-icon
                aria-hidden="false"
                style="width: 40px; height: 40px"
                class="p-2"
                aria-label="Example home icon"
                fontIcon="add_circle"
            ></mat-icon> -->
        </div>
    </div>
</div>
